@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body{
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vh;
}

form {
   background-color:  #EBF2F5;
   max-width: 500px;
   width: 70%;
   padding: 10px;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}

form h3{
    text-align: center;
    color: black;  
}

form input[type=text],
form input[type=password],form input[type=hidden]{
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    padding-left: 10px;
    margin: 10px 0;
}

form input[type=submit]{
    width: 100%;
    height: 40px;
    cursor: pointer;
    background-color: #a5d1d6;
    border-radius: 20px;
    border: 0;
    color: black;
    transition: 1s;
}
form select{
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    padding-left: 10px;
    margin: 10px 0;
}

form input[type=submit]:hover{
   background-color:#3ba2ad;
}

.curso{
    color: rgb(77, 77, 77);
}