@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}
body{
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vh;
}
form {
      
    background-color:  #EBF2F5;
    display: flex;
    width: 590px;
    border-radius: 10px;
    margin: 0 380px;
   
 }

 form input[type=date],
 form input[type=text]{
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding-left: 10px;
    margin: 10px 0;
 }
 form select{
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding-left: 10px;
    margin: 10px 0;
}
input[type=submit]{
    width: 100%;
     height: 30px;
     margin: 10px 35px;
     cursor: pointer;
     background-color: #a5d1d6;
     border-radius: 20px;
     border: 0;
     color: black;
     transition: 1s;
}

table{
    width: 80%;
    height: 30px;
    border: 1px solid rgb(243, 226, 226);
    margin: 60px 100px;
    font-size: 16px;
    background-color:white;
    color: black;
    border-radius: 10px;
}


th{
    text-align: justify;
   
   
}

td{
    color:black;
    background-color: rgb(196, 226, 226);
    border-radius: 10px;
    text-align: center;
}

 p {
   
   margin: 10px 600px;

   
}


a{
 color: black;
    
}

h4{
    margin: 10px 10px;
}


h3{
    text-align: center;
    margin: 40px;
}