<!DOCTYPE html>
<html xmlns:th="www.thymelaef.org">
<head>
<meta charset="UTF-8">

<link rel="stylesheet" href="/css/lista.css">
<link rel="stylesheet" href="/css/msg.css">
<title>Notas</title>
</head>
<body>
	<br>
	<p><a href="/aluno/home">Voltar para a Home</a></p>
<h3>Notas do discente <span  th:text = ' ${session.alunoLogado.nome} ' ></span></h3>
	<table>
	<tr>
	<th>Nota</th>
	<th>Matéria</th>
	<th>Periodo</th>
	<th></th>
	</tr>
		<tr th:each="ava : ${lista}"th:if= "${ava.alunos.id} == ${session.alunoLogado.id}">
				<td th:text="${ava.nota}" ></td>
				<td th:text="${ava.materias.nome}" ></td>
				<td th:text="${ava.Periodo.periodo}"></td>
	</tr>
	</table>
	<div id= "hideMe" th:text = '${menssagemS}' th:unless="${menssagemS} == null" ></div> 

</body>
</html>