<!DOCTYPE html   >
<html xnlns:th="www.thymelaef.org">
<head>
<meta charset="UTF-8">
<title>Cadastro de alunos</title>
</head>
<body>
<form action="/salvarAluno" method="post" th:object=${Aluno}>
<input type="hidden" th:field="*{id}"/>
Nome: <input type="text" th:field = *{nome}><br>
Senha: <input type="password" th:field = *{senha}><br>
Matricula: <input type="text" th:field = *{matricula}><br>
Sexo: <input type="text" th:field = *{sexo}><br>
Email: <input type="email" th:field = *{email}><br>
Curso: <select name="curso">
		<option th:each = "cat : ${curso}" 
		th:value = "${cat.id}"
		th:text = "${cat.nome}" 
		>
		</select>
		<button type ="submit"> Cadastrar </button>
</form>
	
</body>
</html>