<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cadastro de Curso</title>
<link rel="stylesheet" href="/css/cadC.css">
</head>
<body>
<form action="/admin/salvarCurso" method="post" th:object=${Curso}>
<input type="hidden" th:field="*{id}"/>
<h3> Cadastro de Curso</h3>
Nome do curso: <input type="text" th:field = *{nome} required><br>
Duração do curso: <input type="text" th:field = *{duracao} required><br>
		<input type="submit" name="acao" value="Cadastrar">
	<p><a href= "/admin/home">Voltar para a home</a></p>
	<p><a href= "/listaCurso">Ver cursos</a></p>
</form>
</body>
</html>