<!DOCTYPE html   >
<html xmlns:th="www.thymelaef.org">
<head>
<meta charset="UTF-8">
<title>Cadastro de Contatos da Instituição</title>
<link rel="stylesheet" href="/css/cadl.css">
</head>
<body>
<form action="/admin/salvarInstituição" method="get" th:object=${instituicao}>
<input type="hidden" th:field="*{id}"/>
   <h3>Cadastro de Contatos da Instituição</h3>
	Telefone: <input type="text" th:field = *{numero}><br>
	Endereço: <input type="text" th:field = *{endereco}><br>
	Site: <input type="text" th:field = *{site}><br>
	<input type="submit" name="acao" value="Cadastrar" >
</form>
