<!DOCTYPE html   >
<html xnlns:th="www.thymelaef.org">
<head>
<meta charset="UTF-8">
<title>Cadastro de Matérias</title>
</head>
<body>
<form action="/admin/salvarMateria" method="post" th:object=${Materias}>
<input type="hidden" th:field="*{id}"/>
	Nome: <input type="text" th:field = *{nome}><br>
	
	Horario: <input type="text" th:field = *{horario}><br>
	
	Curso: <select name="curso">
			<option th:each = "cat : ${curso}" 
			th:value = "${cat.id}"
			th:text = "${cat.nome}" 
			> </select><br>
			
	Professor: <select name="professores">
			<option th:each = "cat : ${professores}" 
			th:value = "${cat.id}"
			th:text = "${cat.nome}" 
			> </select><br>

	Periodo: <select name="periodo">
			<option th:each = "cat : ${periodo}" 
			th:value = "${cat.id}"
			th:text = "${cat.periodo}" 
			></option>
		</select>
		<button type ="submit">Cadastrar</button>
</form>
</body>
</html>