<!DOCTYPE html   >
<html xmlns:th="www.thymelaef.org">
<head>
<meta charset="UTF-8">
<title>Cadastro de Matérias</title>
<link rel="stylesheet" href="/css/cadM.css">
<link rel="stylesheet" href="/css/msg.css">
</head>
<body>
<form action="/admin/salvarMateria" method="post" th:object=${Materias}>
<input type="hidden" th:field="*{id}"/>
<h3>Cadastro de Matérias</h3>
	Nome: <input type="text" th:field = *{nome}><br>
	
	Horario: <input type="text" th:field = *{horario}><br>
	
	Curso: <select name="curso" th:field = *{curso}>
			<option th:each = "cat : ${curso}" 
			th:value = "${cat.id}"
			th:text = "${cat.nome}" 
			> </select><br>
	Periodo: <select name="periodo" th:field = *{periodo}>
			<option th:each = "cat : ${periodo}" 
			th:value = "${cat.id}"
			th:text = "${cat.periodo}" 
			></option>
		</select><br>
	Professor: <select name="professores" th:field = *{professores}>
			<option  th:each = "cat : ${professores}" 
			th:value = "${cat.id}"
			th:text = "${cat.nome}" 
			> </select><br>

	 <input type="submit" name="acao" value="Cadastrar">
	 <p><a href= "/admin/home">Voltar para a home</a></p>
	 <p><a href= "/admin/listaMateria">Ver Materias</a></p>
</form>
<div id= "hideMe" th:text = '${menssagemE}' th:unless="${menssagemE} == null" ></div> 
	<div id= "hideMe2" th:text = '${menssagemS}' th:unless="${menssagemS} == null"  ></div> 
</body>
</html>