<!DOCTYPE html>
<html xnlns:th="www.thymelaef.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/msg.css">
<title>Contatos</title>
<link rel="stylesheet" href="/css/lista.css">
</head>
<body>
	<br>
	<p><a href="/aluno/home">Voltar para a Home</a></p>
<h3>Contatos dos meus professores</h3>
</form>
	<table>
	<tr>
	<th>Nome</th>
	<th>Materia</th>
	<th>Email</th>
	<th></th>
	</tr>
		<tr th:each="prof : ${lista}"th:if= "${prof.curso.id} == ${session.alunoLogado.curso.id}">
				<td th:text="${prof.professores.nome}" ></td>
				<td th:text="${prof.nome}" ></td>
				<td th:text="${prof.professores.email}"  ></td>
	</tr>
	</table>
	
</body>
</html>