<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Filtro Nota</title>
<link rel="stylesheet" href="/css/listaF.css">
</head>
<body><br>
<form action="/professor/filtrarAvaliacao" method="post">

	<h4>Nome: </h4><input type="text"  name = "nome" >
			
	<h4>Materia: </h4><select name="materia" >
			<option value = ""></option>
			<option th:each = "cat : ${materias}" 
			th:value = "${cat.id}"
			th:text = "${cat.nome}"
		
			> </select>

	<h4>Periodo:</h4> <select name="periodo" >
		<option value = ""></option>
			<option th:each = "cat : ${periodo}" 
			th:value = "${cat.id}"
			th:text = "${cat.periodo}" 
			></option>
		</select>
		<input type ="submit" value="Filtrar">
</form>
<p><a href="/professor/home">Voltar para a Home</a></p>
 <h3>Notas</h3>
<table>
	<tr>
	<th>Aluno</th>
	<th>Nota</th>
	<th>Matéria</th>
	<th>Periodo</th>
	<th></th>
	</tr>
		<tr th:each="ava : ${lista}" th:if="${ava.materias.professores.id} == ${session.professorLogado.id}">
				<td th:text="${ava.Alunos.nome}"></td>
				<td th:text="${ava.nota}"></td>
				<td th:text="${ava.materias.nome}"></td>
				<td th:text="${ava.Periodo.periodo}"></td>
				<td>
				<a th:href="|/professor/cadAvaliacao?id=${ava.id}|">Editar</a
				>
			
		</td>
		<td>	<a th:href="|/professor/excluirAvaliacao?id=${ava.id}|">Excluir</a></td>
	</tr>
	</table>
	<div id= "hideMe" th:text = '${menssagemS}' ></div> 
	


</body>
</html>