<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<style>
   #hideMe {
    color: green;
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
   
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}
</style>

<title>Home Do Administrador</title>
</head>
<body>
<h1>Tela Inicial Administrador</h1>
<h3><a href= "/listaMateria">Disciplinas e Horarios</a></h3> 
<h3><a href= "/cadCurso">Cadastrar curso</a></h3>
<a href="/cadP">Cadastro de professor</a>
<h3><a href= "/cadMateria">Cadastrar materias</a></h3>
<h3><a href= "#">Links para materias de aula</a></h3> 
<h3><a href= "#">Contatos da instituição</a></h3> 
<h3><a href= "/PortalDoAluno">Sair</a></h3> 
<div id= "hideMe" th:text = '${menssagem}' ></div> 
</h3>
</body>
</html>