<!DOCTYPE html>
<html  xmlns:th="www.thymelaef.org" >
<head>
<meta charset="UTF-8">
    <link rel="stylesheet" href="../css/Home.css">
<style>
   #hideMe {
    color: green;
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
   
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}
</style>

<title>Home do Aluno</title>
</head>
<body>

 <nav>
       <div class="logo">
           <h1>Menu do aluno</h1>
       </div>
           
       <ul> 
           <li><a href="/aluno/minhasNotas" title="Boletim"><img src="../icons/books.png" alt="Boletim"></a></li>
           <li><a href="/aluno/meusHorarios" title="Horários"><img src="../icons/clock.png" alt=""></a></li>
           <li> <a href="/aluno/listaAluno" title="Alteração de dados cadastrais"><img src="../icons/edit.png" alt=""></a></li>
           <li><a href="/aluno/minhaFrequencia" title="Frequência"><img src="../icons/calendar.png" alt=""></a></li>
           <li ><a href="/aluno/materiais" title="Links para materiais de apoio"><img src="../icons/links.png" alt=""></a></li>
           <li><a href="/aluno/contatosProfessores" title="Contatos dos docentes"><img src="../icons/email.png" alt=""></a></li>
       </ul>
   </nav>
  <br><br>
  <h4>Olá <span  th:text = ' ${session.alunoLogado.nome} ' ></span> !</h4>
  <div>
   <p><img src="../icons/books.png" alt=""><a href="/aluno/minhasNotas">Boletim</a></p>
   <p><img src="../icons/clock.png" alt=""><a href="/aluno/meusHorarios">Horários</a></p>
   <p><img src="../icons/edit.png" alt=""><a href="/aluno/listaAluno">Alteração de dados cadastrais</a></p>
   <p><img src="../icons/calendar.png" alt=""><a href="/aluno/minhaFrequencia">Frequência</a></p>
   <p><img src="../icons/pdf.png" alt=""><a href="/aluno/historico">Gerar meu historico escolar</a></p>
   <p><img src="../icons/links.png" alt=""><a href="/aluno/materiais">Links para materiais de apoio</a></p>
   <p><img src="../icons/email.png" alt=""><a href="/aluno/contatosProfessores">Contato dos docentes</a></p>
   <p><img src="../icons/sair.png" alt=""><a href="/sair">Sair</a></p>

</div>

<div id= "hideMe" th:text = '${menssagemS}' ></div> 
</body>
</html>