<!DOCTYPE html>
<html  xmlns:th="www.thymelaef.org">
<head>
<meta charset="UTF-8">
  <link rel="stylesheet" href="../css/HomeP.css">
<style>
   #hideMe {
    color: green;
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
   
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}
</style>

<title>Home Do Professor</title>
</head>
<body>
 <nav>
       <div class="logo">
           <h1>Menu do professor</h1>
       </div>
   
       <ul> 
           <li><a href="/listaMateria" title="Disciplinas"><img src="../icons/books.png" alt="Boletim"></a></li>
            <li><a href="/listaProfessor" title="Alteração de dados cadastrais"><img src="../icons/edit.png" alt="Boletim"></a></li>
            <li> <a href="/professor/cadAvaliacao" title="Lançar notas dos alunos"><img src="../icons/notebook.png" alt=""></a></li>
           <li><a href="/professor/cadFrequencia" title="Frequência"><img src="../icons/calendar.png" alt=""></a></li>
           <li ><a href="/professor/cadAulas" title="Links para materiais de apoio"><img src="../icons/links.png" alt=""></a></li>
           <li><a href="/listaInstituicao" title="Contatos da Instituição"><img src="../icons/email.png" alt=""></a></li>
       </ul>
   </nav>
  <br><br>
 
  <div>
 <h4>Olá, <span  th:text = ' ${session.professorLogado.nome} ' ></span> !</h4>
   <p><img src="../icons/books.png" alt=""><a href="/listaMateria">Disciplinas e Horários</a></p>
   <p><img src="../icons/edit.png" alt=""><a href="/listaProfessor">Alteração de dados cadastrais</a></p>
   <p><img src="../icons/notebook.png" alt=""><a href="/professor/cadAvaliacao">Lançar notas dos alunos</a></p>
   <p><img src="../icons/calendar.png" alt=""><a href="/professor/cadFrequencia">Cadastrar frequência dos alunos</a></p>
   <p><img src="../icons/links.png" alt=""><a href="/professor/cadAulas">Links para materiais das aulas</a></p>
   <p><img src="../icons/email.png" alt=""><a href="/listaInstituicao">Contatos da Instituição</a></p>
   <p><img src="../icons/sair.png" alt=""><a href="/sair">Sair</a></p>

   </div>
<div id= "hideMe" th:text = '${menssagemS}' ></div> 
  
</body>
</html>