<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Home Do Professor</title>
</head>
<body>
<h1>Tela Inicial Professor</h1>
<h3><a href= "#">Disciplinas</a></h3> 
<h3><a href= "#">Horarios</a></h3> 
<h3><a href= "/listaP">Alteração, exclusão, listagem</a></h3> 
<h3><a href= "#">Frequência dos Alunos</a></h3> 
<h3><a href= "/cadCurso">Cadastrar curso</a></h3> 
<h3><a href= "/cadMateria">Cadastrar materias</a></h3>
<h3><a href= "/cadFrequencia">Cadastrar frequencia dos alunos</a></h3>
<h3><a href= "#">Links para materias de aula</a></h3> 
<h3><a href= "#">Contatos da instituição</a></h3> 
<h3><a href= "/PortalDoAluno">Sair</a></h3> 
</h3>
</body>
</html>