<!DOCTYPE html>
<html xnlns:th="www.thymelaef.org">
<head>
<meta charset="UTF-8">
<style>
   #hideMe {
    
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
   color: green;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}
</style>
<title>Horario do discente</title>
</head>
<body>
<h4>Horarios do discente <span  th:text = ' ${session.alunoLogado.nome} ' ></span></h4>
</form>
	<table>
	<tr>
	<th>Matéria</th>
	<th>Horario</th>
	<th></th>
	</tr>
		<tr th:each="mate : ${lista}"th:if= "${mate.curso.id} == ${session.alunoLogado.curso.id}">
				<td th:text="${mate.nome}" ></td>
				<td th:text="${mate.horario}"  ></td>
	</tr>
	</table>
	<div id= "hideMe" th:text = '${menssagemS}' ></div> 
	<a href="/aluno/home">Voltar para a Home</a>
</body>
</html>