<!DOCTYPE html>
<html xnlns:th="www.thymelaef.org">
<head>
<meta charset="UTF-8">

<style>
   #hideMe {
    color: green;
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
   
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}
</style>
<title>Lista dos Cursos</title>
<link rel="stylesheet" href="/css/lista.css">
</head>
<body>
	<br>
	<p><a href="/admin/home">Voltar para a Home</a></p>
  <h3>Cursos</h3>
	<table>
	<tr>
	<th>Nome</th>
	<th>Duração</th>
	</tr>
		<tr th:each="curso : ${lista}">
				<td th:text="${curso.nome}"></td>
				<td th:text="${curso.duracao}"></td>
				<td>
					<td>
						<a th:href="|/admin/cadCurso?id=${curso.id}|">Editar</a>
					</td>
				
				<td><a th:href="|/admin/excluirCurso?id=${curso.id}|">Excluir</a>
		</td>
	</tr>
	</table>
	<div id= "hideMe" th:text = '${menssagemS}' ></div> 

</body>
</html>
</html>