<!DOCTYPE html>
<html xnlns:th="www.thymelaef.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="/css/listaF.css">
<link rel="stylesheet" href="/css/msg.css">
<title>Lista de Frequencias</title>
</head>
<body>
<nav>
		<div class="logo">
			<h1>Frequência</h1>
		</div>
		
		<ul> 
			<li><a href="/listaMateria" title="Disciplinas"><img src="../icons/books.png" alt="Boletim"></a></li>
            <li><a href="/listaProfessor" title="Alteração de dados cadastrais"><img src="../icons/edit.png" alt="Boletim"></a></li>
            <li> <a href="/professor/cadAvaliacao" title="Lançar notas dos alunos"><img src="../icons/notebook.png" alt=""></a></li>
           <li><a href="/professor/cadFrequencia" title="Frequência"><img src="../icons/calendar.png" alt=""></a></li>
           <li ><a href="/professor/cadAulas" title="Links para materiais de apoio"><img src="../icons/links.png" alt=""></a></li>
           <li><a href="/listaInstituicao" title="Contatos da Instituição"><img src="../icons/email.png" alt=""></a></li>
			<li><a href="/professor/home" title="Voltar para home"><img src="./icons/sair.png" alt="Voltar para home"></a></li>
		</ul>
	</nav>
<br>

<form action="/professor/filtrarFrequencia" method="post">

<h4>Nome: </h4><input type="text"  name = "nome" >
			
<h4>Matéria:</h4> <select name="materia" >
			<option value = ""></option>
			<option th:each = "cat : ${materias}" 
			th:value = "${cat.id}"
			th:text = "${cat.nome}"
			th:if="${cat.professores.id} == ${session.professorLogado.id}"
			> </select><br>

		<h4>Período:</h4> <select name="periodo" >
		<option value = ""></option>
			<option th:each = "cat : ${periodo}" 
			th:value = "${cat.id}"
			th:text = "${cat.periodo}" 
			></option>
		</select>
		<input type ="submit" value="Filtrar">
</form>
<p><a href="/professor/home">Voltar para a Home</a></p>
	
<h3>Frequências</h3>
	<table>
	<tr>
	<th>Aluno</th>
	<th>Faltas</th>
	<th>Matéria</th>
	<th>Período</th>
	<th></th>
	</tr>
		<tr th:each="freq : ${lista}" th:if="${freq.materias.professores.id} == ${session.professorLogado.id}">
				<td th:text="${freq.Alunos.nome}"></td>
				<td th:text="${freq.faltas}"></td>
				<td th:text="${freq.materias.nome}"></td>
				<td th:text="${freq.Periodo.periodo}"></td>
				<td>

				<a th:href="|/professor/cadFrequencia?id=${freq.id}|"><h5>Editar</h5></a
				>
				
		</td>
		<td><a th:href="|/professor/excluirFrequencia?id=${freq.id}|"><h5>Excluir</h5></a></td>
	</tr>
	</table>
	<div id= "hideMe" th:text = '${menssagemE}' th:unless="${menssagemE} == null" ></div> 
	<div id= "hideMe2" th:text = '${menssagemS}' th:unless="${menssagemS} == null"  ></div> 

</body>
</html>