<!DOCTYPE html>
<html xnlns:th="www.thymelaef.org">
<head>
<meta charset="UTF-8">
<style>
   #hideMe {
    
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
   color: green;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}
</style>
<title>Lista de Avatiações</title>
</head>
<body>
</form>
	<table>
	<tr>
	<th>Aluno</th>
	<th>Nota</th>
	<th>Matéria</th>
	<th>Periodo</th>
	<th></th>
	</tr>
		<tr th:each="ava : ${lista}">
				<td th:text="${ava.Alunos.nome}"></td>
				<td th:text="${ava.nota}"></td>
				<td th:text="${ava.materias.nome}"></td>
				<td th:text="${ava.Periodo.periodo}"></td>
				<td>
				<a th:href="|/professor/cadAvaliacao?id=${ava.id}|">Editar</a
				>
				<a th:href="|/professor/excluirAvaliacao?id=${ava.id}|">Excluir</a>
		</td>
	</tr>
	</table>
	<div id= "hideMe" th:text = '${menssagemS}' ></div> 
	<a href="/professor/home">Voltar para a Home</a>
</body>
</html>
</html>
</html>