<!DOCTYPE html>
<html xmlns:th="www.thymelaef.org">
<head>
<meta charset="UTF-8">
<title>Lista de Materias</title>
 <link rel="stylesheet" href="/css/lista.css">
<link rel="stylesheet" href="/css/msg.css">
</head>
<body>
<nav>
		<div class="logo">
			<h1>Matérias e Horários</h1>
		</div>
		
		<ul> 
			<li><a href="/listaMateria" title="Disciplinas"><img src="../icons/books.png" alt="Boletim"></a></li>
            <li><a href="/listaProfessor" title="Alteração de dados cadastrais"><img src="../icons/edit.png" alt="Boletim"></a></li>
            <li> <a href="/professor/cadAvaliacao" title="Lançar notas dos alunos"><img src="../icons/notebook.png" alt=""></a></li>
           <li><a href="/professor/cadFrequencia" title="Frequência"><img src="../icons/calendar.png" alt=""></a></li>
           <li ><a href="/professor/cadAulas" title="Links para materiais de apoio"><img src="../icons/links.png" alt=""></a></li>
           <li><a href="/listaInstituicao" title="Contatos da Instituição"><img src="../icons/email.png" alt=""></a></li>
			<li><a href="/professor/home" title="Voltar para home"><img src="./icons/sair.png" alt="Voltar para home"></a></li>
		</ul>
	</nav>

 <br>

<h3>Minhas Matérias e Horários</h3>


	<table>
	<tr>
	<th>Nome</th>
	<th>Horario</th>
	<th>Curso</th>
	<th>Periodo</th>
	</tr>
		<tr th:each="materia : ${lista}" th:if = "${materia.professores.id} == ${session.professorLogado.id}">
				<td th:text="${materia.nome}"></td>
				<td th:text="${materia.horario}"></td>
				<td th:text="${materia.Curso.nome}"></td>
				<td th:text="${materia.Periodo.periodo}">
	</tr>
	</table>
	<div id= "hideMe" th:text = '${menssagemE}' th:unless="${menssagemE} == null" ></div> 
	<div id= "hideMe2" th:text = '${menssagemS}' th:unless="${menssagemS} == null"  ></div>  
	
</body>
</html>
</html>