<!DOCTYPE html>
<html xnlns:th="www.thymelaef.org">
<head>
<meta charset="UTF-8">

<link rel="stylesheet" href="/css/msg.css">
<title>Lista dos Contatos</title>
<link rel="stylesheet" href="/css/lista.css">
</head>
<body>
	<nav>
		<div class="logo">
			<h1>Matérias</h1>
		</div>
		
		<ul> 
			
           <li><a href="/admin/cadCurso" title="Cadastrar cursos"><img src="../icons/notebook.png" alt=""></a></li>
           <li> <a href="/admin/cadP" title="Cadastrar Professores"><img src="../icons/teacher.png" alt=""></a></li>
           <li><a href="/admin/cadMateria" title="Cadastrar matérias"><img src="../icons/books.png" alt=""></a></li>
           <li><a href="/admin/cadInstituicao" title="Cadastrar e ou editar Contatos das Instituição"><img src="../icons/email.png" alt=""></a></li>
			<li><a href="/admin/home" title="Voltar para home"><img src="../icons/sair.png" alt="Voltar para home"></a></li>
		</ul>
	</nav>

   <h3>Contatos</h3>
	
	<table>
	<tr>
	<th>Telefone</th>
	<th>Endereço</th>
	<th>Site</th>
	</tr>
		<tr th:each="insti : ${lista}">
				<td th:text="${insti.numero}"></td>
				<td th:text="${insti.endereco}"></td>
				<td><a th:href = "${insti.site}" target="_blank">site</a></td>
				<td><a th:href="|/admin/cadInstituicao?id=${insti.id}|" th:if= "${session.adminLogado}!=null">Editar</a></td>
				<td><a th:href="|/admin/excluirInstituicao?id=${insti.id}|" th:if= "${session.adminLogado}!=null">Excluir</a></td>
	</tr>
	</table>
	<div id= "hideMe" th:text = '${menssagemE}' th:unless="${menssagemE} == null" ></div> 
	<div id= "hideMe2" th:text = '${menssagemS}' th:unless="${menssagemS} == null"  ></div> 
	<p><a href="/admin/cadInstituicao">Cadastrar um novo contato</a></p>
</body>
</html>