<!DOCTYPE html>
<html xnlns:th="www.thymelaef.org">
<head>
<meta charset="UTF-8">
<style>
   #hideMe {
    
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
   color: green;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}
</style>
<title>Lista de conteudos de aula</title>
</head>
<body>
</form>
	<table>
	<tr>
	<th>Link para o material</th>
	<th>Data</th>
	<th>Matéria</th>
	<th>Periodo</th>
	<th></th>
	</tr>
		<tr th:each="a : ${lista}" th:if="${a.professores.id} == ${session.professorLogado.id}">
				<td><a th:href = "${a.material}" target="_blank">Link</a></td>
				<td th:text="${a.data}"></td>
				<td th:text="${a.materias.nome}"></td>
				<td th:text="${a.professores.nome}"></td>
				<td>
				<a th:href="|/professor/cadAulas?id=${a.id}|">Editar</a
				>
				<a th:href="|/professor/excluirAulas?id=${a.id}|">Excluir</a>
		</td>
	</tr>
	</table>
	<div id= "hideMe" th:text = '${menssagemS}' ></div> 
	<a href="/professor/home">Voltar para a Home</a>
</body>
</html>
</html>
</html>