<!DOCTYPE html>
<html xmlns:th="www.thymelaef.org">
<head>
<meta charset="UTF-8">
<title>Lista de Materias</title>
 <link rel="stylesheet" href="/css/lista.css">
<style>
   #hideMe {
    color: green;
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
   
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}
</style>
</head>
<body> <br>
<p><a href="/professor/home">Voltar para a Home</a></p>
<h3>Minhas Matérias e Horários</h3>


	<table>
	<tr>
	<th>Nome</th>
	<th>Horario</th>
	<th>Curso</th>
	<th>Periodo</th>
	</tr>
		<tr th:each="materia : ${lista}" th:if = "${materia.professores.id} == ${session.professorLogado.id}">
				<td th:text="${materia.nome}"></td>
				<td th:text="${materia.horario}"></td>
				<td th:text="${materia.Curso.nome}"></td>
				<td th:text="${materia.Periodo.periodo}">
	</tr>
	</table>
	<div id= "hideMe" th:text = '${menssagemS}' ></div> 
	
</body>
</html>
</html>