<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Lista dos Professores</title>
</head>
<body>
</form>
	<table>
	<tr> 
	<th>Nome</th>
	<th>Senha</th>	
	<th>Email</th>
	</tr>
		<tr th:each="prof : ${lista}">
				<td th:text="${prof.nome}"></td>
				<td th:text="${prof.senha}"></td>
				<td th:text="${prof.email}"></td>
				<td>
				<a th:href="|/cadP?id=${prof.id}|">Editar</a
				>
				<a th:href="|/excluirProfessor?id=${prof.id}|">Excluir</a>
		</td>
	</tr>
	</table>
	<a href="/homeP">Voltar para a Home</a>
</body>
</html>