<!DOCTYPE html>
<html xnlns:th="www.thymelaef.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="/css/lista.css">
<link rel="stylesheet" href="/css/msg.css">
<title>Lista de Avaliações</title>
</head>
<body>

<nav>
		<div class="logo">
			<h1>Avaliação</h1>
		</div>
		
		<ul> 
			<li><a href="/listaMateria" title="Disciplinas"><img src="../icons/books.png" alt="Boletim"></a></li>
            <li><a href="/listaProfessor" title="Alteração de dados cadastrais"><img src="../icons/edit.png" alt="Boletim"></a></li>
            <li> <a href="/professor/cadAvaliacao" title="Lançar notas dos alunos"><img src="../icons/notebook.png" alt=""></a></li>
           <li><a href="/professor/cadFrequencia" title="Frequência"><img src="../icons/calendar.png" alt=""></a></li>
           <li ><a href="/professor/cadAulas" title="Links para materiais de apoio"><img src="../icons/links.png" alt=""></a></li>
           <li><a href="/listaInstituicao" title="Contatos da Instituição"><img src="../icons/email.png" alt=""></a></li>
			<li><a href="/professor/home" title="Voltar para home"><img src="./icons/sair.png" alt="Voltar para home"></a></li>
		</ul>
	</nav>
	<p><a href="/professor/home">Voltar para a Home</a></p>
	<h3>Avaliações</h3>

	<table>
	<tr>
	<th>Aluno</th>
	<th>Nota</h3></th>
	<th>Matéria</th>
	<th>Período</th>
	<th></th>
	</tr>
		<tr th:each="ava : ${lista}" th:if="${ava.materias.professores.id} == ${session.professorLogado.id}">
				<td th:text="${ava.Alunos.nome}"></td>
				<td th:text="${ava.nota}"></td>
				<td th:text="${ava.materias.nome}"></td>
				<td th:text="${ava.Periodo.periodo}"></td>
				<td>
				<a th:href="|/professor/cadAvaliacao?id=${ava.id}|">Editar</a
				>
				
		</td>
		<td><a th:href="|/professor/excluirAvaliacao?id=${ava.id}|">Excluir</a></td>
	</tr>
	</table>
	<div id= "hideMe" th:text = '${menssagemE}' th:unless="${menssagemE} == null" ></div> 
	<div id= "hideMe2" th:text = '${menssagemS}' th:unless="${menssagemS} == null"  ></div> 
	
</body>
</html>