<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<style>
   #hideMe {
    
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
   
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}
</style>
<title>Lista dos Professores</title>
</head>
<body>
</form>
	<table>
	<tr> 
	<th>Nome</th>
	<th>Senha</th>	
	<th>Email</th>
	<th>CPF</th>
	<th>RG</th>
	<th>Telefone</th>	
	
	
	<th>Endereço</th>	
	</tr>
		<tr th:each="prof : ${lista}">
				<td th:text="${prof.nome}"></td>
				<td th:text="${prof.senha}"></td>
				<td th:text="${prof.email}"></td>
				<td th:text="${prof.cpf}"></td>
				<td th:text="${prof.rg}"></td>
				<td th:text="${prof.telefone}"></td>
				<td th:text="${prof.endereco}"></td>
				<td>
				<a th:href="|/admin/cadP?id=${prof.id}|">Editar</a
				>
				<a th:href="|/admin/excluirProfessor?id=${prof.id}|" >Excluir</a>
		</td>
	</tr>
	</table>
	<div id= "hideMe" th:text = '${menssagemS}' ></div> 
	<a href="/admin/home" >Voltar para a Home</a>
</body>
</html>