<!DOCTYPE html>
<html xmlns:th="www.thymelaef.org">
<head>
<meta charset="UTF-8">
<title>Lista de Materias</title>
 <link rel="stylesheet" href="/css/lista.css">
<link rel="stylesheet" href="/css/msg.css">
</head>
<body> <br>
<p><a href="/professor/home">Voltar para a Home</a></p>
<h3>Minhas Matérias e Horários</h3>


	<table>
	<tr>
	<th>Nome</th>
	<th>Horario</th>
	<th>Curso</th>
	<th>Periodo</th>
	</tr>
		<tr th:each="materia : ${lista}" th:if = "${materia.professores.id} == ${session.professorLogado.id}">
				<td th:text="${materia.nome}"></td>
				<td th:text="${materia.horario}"></td>
				<td th:text="${materia.Curso.nome}"></td>
				<td th:text="${materia.Periodo.periodo}">
	</tr>
	</table>
	<div id= "hideMe" th:text = '${menssagemE}' th:unless="${menssagemE} == null" ></div> 
	<div id= "hideMe2" th:text = '${menssagemS}' th:unless="${menssagemS} == null"  ></div>  
	
</body>
</html>
</html>