<!DOCTYPE html>
<html xnlns:th="www.thymelaef.org">
<head>
<meta charset="UTF-8">

<style>
   #hideMe {
    color: green;
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
   
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}
</style>
<title>Lista dos Contatos</title>
</head>
<body>
</form>
	<table>
	<tr>
	<th>Telefone</th>
	<th>Endereço</th>
	<th>Site</th>
	</tr>
		<tr th:each="insti : ${lista}">
				<td th:text="${insti.numero}"></td>
				<td th:text="${insti.endereco}"></td>
				<td th:text="${insti.site}"></td>
				<td>
				<a th:href="|/admin/cadInstituicao?id=${insti.id}|" th:if= "${session.adminLogado}!=null">Editar</a>
				<a th:href="|/admin/excluirInstituicao?id=${insti.id}|" th:if= "${session.adminLogado}!=null">Excluir</a>
		</td>
	</tr>
	</table>
	<div id= "hideMe" th:text = '${menssagemS}' ></div> 
	<a href="/professor/home" th:if= "${session.professorLogado}!=null">Voltar para a Home</a>
	<a href="/aluno/home" th:if= "${session.alunoLogado} != null">Voltar para a Home</a>
	<a href="/admin/home" th:if= "${session.adminLogado}!=null">Voltar para a Home</a>
</body>
</html>