<!DOCTYPE html>
<html xmlns:th="www.thymelaef.org" >
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/lista.css">
<link rel="stylesheet" href="/css/msg.css">
   
<title>Lista</title>
</head>
<body>
<p><a href= "/aluno/home">Voltar para a home</a></p>
   <h3>Alteração de dados cadastrais</h3>
<table>
	<tr> 
	<th>Nome</th>
	<th>Matricula</th>
	<th>Sexo</th>	
	<th>CPF</th>
	<th>RG</th>
	<th>Curso</th>
	<th>Nome mae/pai</th>
	<th>Telefone</th>
	<th>Email</th>
	<th>Senha</th>
	
	</tr>   
		<tr th:each="aluno : ${lista}" th:if="${aluno.id} == ${session.alunoLogado.id}">
				<td th:text="${aluno.nome}">s</td>
				<td th:text="${aluno.matricula}"></td>
				<td th:text="${aluno.sexo}"></td>
				<td th:text="${aluno.cpf}"></td>
				<td th:text="${aluno.rg}"></td>
				<td th:text="${aluno.curso.nome}"></td>
				<td th:text="${aluno.nomePais}"></td>
				<td th:text="${aluno.telefone}"></td>
				<td th:text="${aluno.email}"></td>
				<td th:text="${aluno.senha}"></td>
				
				<td>
				<a th:href="|/cad?id=${aluno.id}|">Editar</a
				>
				
		</td>
		
	</tr>
	</table>
	<div id= "hideMe" th:text = '${menssagemE}' th:unless="${menssagemE} == null" ></div> 
	<div id= "hideMe2" th:text = '${menssagemS}' th:unless="${menssagemS} == null"  ></div> 
	
	

</body>
</html>