<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="/css/lista.css">
<style>
   #hideMe {
    
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
   
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}
</style>
<title>Lista dos Professores</title>
</head>
<body>
	<br>
	<p><a href="/professor/home" >Voltar para a Home</a></p>
	<h3>Lista dos Professores</h3>
</form>
	<table>
	<tr> 
	<th>Nome</th>
	<th>Senha</th>
	<th>Email</th>
	<th>CPF</th>
	<th>RG</th>
	<th>Telefone</th>
	
	
	<th>Endereço</th>	
	</tr>
		<tr th:each="prof : ${lista}" th:if = "${prof.id} == ${session.professorLogado.id} ">
				<td th:text="${prof.nome}"></td>
				<td th:text="${prof.senha}"></td>
				<td th:text="${prof.email}"></td>
				<td th:text="${prof.cpf}"></td>
				<td th:text="${prof.rg}"></td>
				<td th:text="${prof.telefone}"></td>
				<td th:text="${prof.endereco}"></td>
				<td>
				<a th:href="|/cadP?id=${prof.id}|"><h5>Editar</h5></a
				>
			
		</td>
		<td>	<a th:href="|/excluirProfessor?id=${prof.id}|" ><h5>Excluir</h5></a></td>
	</tr>
	</table>
	<div id= "hideMe" th:text = '${menssagemS}' ></div> 

</body>
</html>