<!DOCTYPE html>
<html xnlns:th="www.thymelaef.org">
<head>
<meta charset="UTF-8">
<style>
   #hideMe {
    
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
   
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}
</style>
<title>Lista de Frequencias</title>
</head>
<body>
</form>
	<table>
	<tr>
	<th>Aluno</th>
	<th>Faltas</th>
	<th>Matéria</th>
	<th>Periodo</th>
	<th></th>
	</tr>
		<tr th:each="freq : ${lista}">
				<td th:text="${freq.Alunos.nome}"></td>
				<td th:text="${freq.faltas}"></td>
				<td th:text="${freq.materias.nome}"></td>
				<td th:text="${freq.Periodo.periodo}"></td>
				<td>
				<a th:href="|/cadFrequencia?id=${freq.id}|">Editar</a
				>
				<a th:href="|/excluirFrequencia?id=${freq.id}|">Excluir</a>
		</td>
	</tr>
	</table>
	<div id= "hideMe" th:text = '${menssagem}' ></div> 
	<a href="/professor/home">Voltar para a Home</a>
	
</body>
</html>
</html>
</html>