<!DOCTYPE html>
<html xmlns:th="www.thymelaef.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/msg.css">
<title>Materiais</title>
<link rel="stylesheet" href="/css/lista.css">
</head>
<body>
	<nav>
		<div class="logo">
			<h1>Links</h1>
		</div>
		
		<ul> 
			<li><a href="/aluno/minhasNotas" title="Boletim"><img src="/icons/books.png" alt=""></a></li>
			<li><a href="/aluno/meusHorarios" title="Horários"><img src="/icons/clock.png" alt=""></a></li>
			<li> <a href="/aluno/listaAluno" title="Alteração de dados cadastrais"><img src="/icons/edit.png" alt=""></a></li>
			<li><a href="/aluno/minhaFrequencia" title="Frequência"><img src="/icons/calendar.png" alt=""></a></li>
			<li ><a href="/aluno/materiais" title="Links para materiais de apoio"><img src="/icons/links.png" alt=""></a></li>
			<li><a href="/aluno/historico" title="Gerar histórico escolar"><img src="/icons/pdf.png" alt="Gerar histórico"></a></li>
			<li><a href="/aluno/contatosProfessores" title="Contatos dos docentes"><img src="/icons/email.png" alt=""></a></li>
			<li><a href="/aluno/home" title="Voltar para home"><img src="/icons/sair.png" alt=""></a></li>
		</ul>
	</nav>

	<br>
	<p><a href="/aluno/home">Voltar para a Home</a></p>
<h3>Materiais disponibilizados ao discente <span  th:text = ' ${session.alunoLogado.nome} ' ></span></h3>
</form>
	<table>
	<tr>
	<th>Link</th>
	<th>Data</th>
	<th>Matéria</th>
	<th></th>
	</tr>
		<tr th:each="link : ${lista}"th:if= "${link.materias.curso.id} == ${session.alunoLogado.curso.id}">
				<td><a th:href = "${link.material}" target="_blank">Link</a></td>
				<td th:text= "${#temporals.format(link.data, 'dd-MM-yyyy')}" ></td>
				<td th:text="${link.materias.nome}"></td>
	</tr>
	</table>
	<div id= "hideMe" th:text = '${menssagemE}' th:unless="${menssagemE} == null" ></div> 
	<div id= "hideMe2" th:text = '${menssagemS}' th:unless="${menssagemS} == null"  ></div> 
	
</body>
</html>