<!DOCTYPE html>
<html xmlns:th="www.thymelaef.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/msg.css">
<title>Materiais</title>
<link rel="stylesheet" href="/css/lista.css">
</head>
<body>
	<br>
	<p><a href="/aluno/home">Voltar para a Home</a></p>
<h3>Materiais disponibilizados ao discente <span  th:text = ' ${session.alunoLogado.nome} ' ></span></h3>
</form>
	<table>
	<tr>
	<th>Link</th>
	<th>Data</th>
	<th>Matéria</th>
	<th></th>
	</tr>
		<tr th:each="link : ${lista}"th:if= "${link.materias.curso.id} == ${session.alunoLogado.curso.id}">
				<td><a th:href = "${link.material}" target="_blank">Link</a></td>
				<td th:text= "${#temporals.format(link.data, 'dd-MM-yyyy')}" ></td>
				<td th:text="${link.materias.nome}"></td>
	</tr>
	</table>
	<div id= "hideMe" th:text = '${menssagemE}' th:unless="${menssagemE} == null" ></div> 
	<div id= "hideMe2" th:text = '${menssagemS}' th:unless="${menssagemS} == null"  ></div> 
	
</body>
</html>