<!DOCTYPE html>
<html xmlns:th="www.thymelaef.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/Portal.css">
    <title>Portal</title>
<body>
    <h1>Portal do Aluno</h1>
    <p class="paragrafo">Escolha uma opção de acesso</p>
  <ul>
      <li>
        <img src="./icons/male (1).png" alt="Professor" width="250">
        <p><a  href="/loginProf">Professor</a></p>
      </li>
      <li>
       <img src="./icons/graduated.png" alt="Estudante">
       <p class="aluno"> <a href="/login">Estudante</a> </p>
      </li>
  </ul>
</body>
</html>